In [1]:
# Instalando tpot
!pip install tpot

Requirement already satisfied: tpot in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (0.11.7)
Requirement already satisfied: update-checker>=0.16 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (0.18.0)
Requirement already satisfied: xgboost>=1.1.0 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.7.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.5.3)
Requirement already satisfied: scikit-learn>=0.22.0 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.2.2)
Requirement already satisfied: numpy>=1.16.3 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.23.5)
Requirement already satisfied: scipy>=1.3.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.10.1)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (4.65.0)
Requirement already satisfied: stopit>=1.1.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.1.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.2.0)
Requirement already satisfied: deap>=1.2 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.3.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.24.2->tpot) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn>=0.22.0->tpot) (3.1.0)
Requirement already satisfied: colorama in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tqdm>=4.36.1->tpot) (0.4.5)
Requirement already satisfied: requests>=2.3.0 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from update-checker>=0.16->tpot) (2.28.1)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->tpot) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.1.1)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# Importar librerias
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

C:\Users\Usuario\AppData\Local\Programs\Python\Python310\lib\site-packages\tpot\builtins\__init__.py:36: UserWarning: Warning: optional dependency `torch` is not available. - skipping import of NN models.
  warnings.warn("Warning: optional dependency `torch` is not available. - skipping import of NN models.")

In [3]:
# Cargando datos, corresponde al periodo comprendido entre 2017-1 hasta el 2021-2 (5 años de estudio)
# dfuni2017=pd.read_csv('\DATA\dfuni2017_train.csv')
# dfuni2017

# Ruta relativa a la carpeta "DATA"
data_path = 'DATA/dfuni2017_train.csv'

# Leer el archivo CSV
dfuni2017 = pd.read_csv(data_path)

# Verificar los datos leídos
dfuni2017

,Cod_Estudiante,TipoCole,ModalidadIngreso,Escuela,Facultad,PlanEstudio,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,Sexo,...,Cod_AsignaturaIS-826,Cod_AsignaturaIS-827,Cod_AsignaturaIS-921,Cod_AsignaturaIS-922,Cod_AsignaturaIS-923,Cod_AsignaturaIS-924,Cod_AsignaturaIS-925,Cod_AsignaturaIS-926,Cod_AsignaturaIS-927,Cod_AsignaturaIS-928
0,2017652773,Publico,OrdinarioGeneral,IAgroindustrial,Ingenieria,2016,7,3,0,Male,...,0,0,0,0,0,0,0,0,0,0
1,2017853766,Publico,OrdinarioGeneral,IMinas,Ingenieria,2016,6,5,0,Fema,...,0,0,0,0,0,0,0,0,0,0
2,2017754770,Publico,OrdinarioGeneral,IInformatica,Ingenieria,2016,2,0,0,Male,...,0,0,0,0,0,0,0,0,0,0
3,2017754768,Publico,OrdinarioGeneral,IInformatica,Ingenieria,2016,5,0,0,Fema,...,0,0,0,0,0,0,0,0,0,0
4,2017652782,Publico,1erosPuestosColegios,IAgroindustrial,Ingenieria,2016,10,2,0,Fema,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,2017853756,Publico,OrdinarioGeneral,IMinas,Ingenieria,2016,1,0,0,Male,...,0,0,0,0,0,0,0,0,0,0
153,2017651768,Publico,OrdinarioGeneral,GPDS,Letras,2016,17,0,0,Fema,...,0,0,0,0,0,0,0,0,0,0
154,2017653778,Publico,OrdinarioGeneral,IMinas,Ingenieria,2016,2,6,1,Fema,...,0,0,0,0,0,0,0,0,0,0
155,2017755780,Privado,OrdinarioGeneral,IAmbiental,Ingenieria,2016,5,4,0,Male,...,0,0,0,0,0,0,0,0,0,0
156,2017653796,Publico,CEPRE,IMinas,Ingenieria,2016,6,19,1,Male,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Calculando la cantidad aproximada de registros de notas de estudiantes que ingresaron en el año 2017 (2017-1 y 2017-2)
# M= cantidad_de_carreras_profesionales x cantidad_estudiantes_ingresantes_por_carrera x numero_aprox_asignaturas_cursadas
M= 6 * 40 * 45
M

10800

In [5]:
dfuni2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Columns: 352 entries, Cod_Estudiante to Cod_AsignaturaIS-928
dtypes: int64(342), object(10)
memory usage: 431.9+ KB

In [6]:
# Aqui debo analizar

In [7]:
#  Cambiar tipo de datos
dfuni2017['Cod_Estudiante']=dfuni2017['Cod_Estudiante'].astype("category")
dfuni2017['TipoCole']=dfuni2017['TipoCole'].astype("category")
dfuni2017['ModalidadIngreso']=dfuni2017['ModalidadIngreso'].astype("category")
dfuni2017['Escuela']=dfuni2017['Escuela'].astype("category")
dfuni2017['Facultad']=dfuni2017['Facultad'].astype("category")
dfuni2017['PlanEstudio']=dfuni2017['PlanEstudio'].astype("category")
# dfuni2017['SemestreEnCurso']=dfuni2017['SemestreEnCurso'].astype("category")

dfuni2017['Sexo']=dfuni2017['Sexo'].astype("category")
dfuni2017['EstCivil']=dfuni2017['EstCivil'].astype("category")
dfuni2017['SemestreIngreso']=dfuni2017['SemestreIngreso'].astype("category")
dfuni2017['Filial']=dfuni2017['Filial'].astype("category")
# dfuni2017['ControlCicloAcad']=dfuni2017['ControlCicloAcad'].astype("category")
# dfuni2017['CicloAsig']=dfuni2017['CicloAsig'].astype("category")
# dfuni2017['Cod_Asignatura']=dfuni2017['Cod_Asignatura'].astype("category")
dfuni2017['CursaCV']=dfuni2017['CursaCV'].astype("category")
# dfuni2017['EstadoEstudiante']=dfuni2017['EstadoEstudiante'].astype("int")

In [8]:
# Reemplazar los valores en la columna del Estado del estudiante, variable = EstadoEst
dfuni2017['EstadoEstudiante'] = dfuni2017['EstadoEstudiante'].replace({"No_Deserto": 0, "Deserto": 1})

In [9]:
# Cambiar tipo de dato
dfuni2017['EstadoEstudiante']=dfuni2017['EstadoEstudiante'].astype("int")

In [10]:
dfuni2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Columns: 352 entries, Cod_Estudiante to Cod_AsignaturaIS-928
dtypes: category(11), int32(1), int64(339), object(1)
memory usage: 426.3+ KB

In [11]:
dfuni2017.head(5)

,Cod_Estudiante,TipoCole,ModalidadIngreso,Escuela,Facultad,PlanEstudio,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,Sexo,...,Cod_AsignaturaIS-826,Cod_AsignaturaIS-827,Cod_AsignaturaIS-921,Cod_AsignaturaIS-922,Cod_AsignaturaIS-923,Cod_AsignaturaIS-924,Cod_AsignaturaIS-925,Cod_AsignaturaIS-926,Cod_AsignaturaIS-927,Cod_AsignaturaIS-928
0,2017652773,Publico,OrdinarioGeneral,IAgroindustrial,Ingenieria,2016,7,3,0,Male,...,0,0,0,0,0,0,0,0,0,0
1,2017853766,Publico,OrdinarioGeneral,IMinas,Ingenieria,2016,6,5,0,Fema,...,0,0,0,0,0,0,0,0,0,0
2,2017754770,Publico,OrdinarioGeneral,IInformatica,Ingenieria,2016,2,0,0,Male,...,0,0,0,0,0,0,0,0,0,0
3,2017754768,Publico,OrdinarioGeneral,IInformatica,Ingenieria,2016,5,0,0,Fema,...,0,0,0,0,0,0,0,0,0,0
4,2017652782,Publico,1erosPuestosColegios,IAgroindustrial,Ingenieria,2016,10,2,0,Fema,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# Convertir el dato del tipo categorico a un tipo numerico unico entendible por scikit-learning
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()
# dfunam2017['CodEst'] = le.fit_transform(dfunam2017['CodEst'])
# dfunam2017['PlanEst'] = le.fit_transform(dfunam2017['PlanEst'])
# dfunam2017['SemEnCurso'] = le.fit_transform(dfunam2017['SemEnCurso'])
# dfunam2017['SemPerma'] = le.fit_transform(dfunam2017['SemPerma'])
# dfunam2017['SemIngreso'] = le.fit_transform(dfunam2017['SemIngreso'])
# dfunam2017['ControlCV'] = le.fit_transform(dfunam2017['ControlCV'])
# dfunam2017['CicloAsig'] = le.fit_transform(dfunam2017['CicloAsig'])
# dfunam2017['CodAsig'] = le.fit_transform(dfunam2017['CodAsig'])
# dfunam2017['CursaCV'] = le.fit_transform(dfunam2017['CursaCV'])

In [13]:
# dfunam2017.info()

## Segundo intento para aplicar TopT

### Data Exploration

In [14]:
# Vamos a verificar cuántos estudiantes Desertan o No_desertan. Periodo 20171 - 20212

filtro_agrupado_V3_2017_2021 = dfuni2017.groupby(['EstadoEstudiante']).size()
filtro_agrupado_V3_2017_2021

EstadoEstudiante
0    81
1    76
dtype: int64

In [15]:
len(dfuni2017)

157

In [16]:
# Agrupando en función a la Escuela Profesional
dfuni2017.groupby("Escuela").EstadoEstudiante.value_counts()

Escuela          EstadoEstudiante
GPDS             0                   23
                 1                    6
IAgroindustrial  1                   16
                 0                   13
IAmbiental       0                   15
                 1                    9
IInformatica     1                   20
                 0                   10
IMinas           1                   17
                 0                   13
IPesquera        1                    8
                 0                    7
Name: EstadoEstudiante, dtype: int64

In [17]:
# OBS -> Verificar con el sistema de la U si existen desertores (código 2017-1 y 2017-2) en Agroindustria, Ambiental y Minas

In [18]:
# Agrupando en función al sexo del estudiante
dfuni2017.groupby("Sexo").EstadoEstudiante.value_counts()

Sexo  EstadoEstudiante
Fema  0                   41
      1                   25
Male  1                   51
      0                   40
Name: EstadoEstudiante, dtype: int64

In [19]:
# Agrupamos en funcion a dos variables
dfuni2017.groupby(['Escuela','Sexo']).EstadoEstudiante.value_counts()

Escuela          Sexo  EstadoEstudiante
GPDS             Fema  0                   15
                       1                    3
                 Male  0                    8
                       1                    3
IAgroindustrial  Fema  1                    9
                       0                    6
                 Male  0                    7
                       1                    7
IAmbiental       Fema  0                   10
                       1                    1
                 Male  1                    8
                       0                    5
IInformatica     Fema  1                    6
                       0                    4
                 Male  1                   14
                       0                    6
IMinas           Fema  1                    3
                       0                    1
                 Male  1                   14
                       0                   12
IPesquera        Fema  0                    5
                       1                    3
                 Male  1                    5
                       0                    2
Name: EstadoEstudiante, dtype: int64

In [20]:
# OBS: HAsta aqui hemos conseguido cambiar el tipo de datos, ahora debemos aplicr topot en la sección XXX

### Data Munging (Recogida de datos)

In [21]:

# El primer y más importante paso en el uso de TPOT en cualquier conjunto de datos es cambiar el nombre de la 
# clase de destino (variable de respuesta a la clase).

In [22]:

dfuni2017.rename(columns={'EstadoEstudiante': 'class'}, inplace=True)

In [23]:
# Actualmente, TPOT requiere que todos los datos estén en formato numérico. Como podemos ver a continuación, 
# nuestro conjunto de datos tiene 10 variables categóricas que contienen valores no numéricos: CodEst, Cole, 
# ModaIngreso, Facu, PlanEst, SemEnCurso, SemPerma, Sexo, EstCivil, SemIngreso, Filial, ControlCV, CicloAsig,
# CodAsig y CursaCV

In [24]:
dfuni2017.dtypes

Cod_Estudiante          category
TipoCole                category
ModalidadIngreso        category
Escuela                 category
Facultad                category
                          ...
Cod_AsignaturaIS-924       int64
Cod_AsignaturaIS-925       int64
Cod_AsignaturaIS-926       int64
Cod_AsignaturaIS-927       int64
Cod_AsignaturaIS-928       int64
Length: 352, dtype: object

In [25]:
# A continuación, comprobamos el número de niveles que tiene cada una de las 10 variables categóricas.

In [26]:
for cat in ['TipoCole', 'ModalidadIngreso', 'Facultad','Escuela','PlanEstudio',  'Sexo', 'EstCivil', 'SemestreIngreso', 'Filial',  'CursaCV']:
    print("Número de niveles de la categoría '{0}': \b {1:2.2f} ".format(cat, dfuni2017[cat].unique().size))

Número de niveles de la categoría 'TipoCole': 2.00
Número de niveles de la categoría 'ModalidadIngreso': 4.00
Número de niveles de la categoría 'Facultad': 2.00
Número de niveles de la categoría 'Escuela': 6.00
Número de niveles de la categoría 'PlanEstudio': 1.00
Número de niveles de la categoría 'Sexo': 2.00
Número de niveles de la categoría 'EstCivil': 2.00
Número de niveles de la categoría 'SemestreIngreso': 1.00
Número de niveles de la categoría 'Filial': 3.00
Número de niveles de la categoría 'CursaCV': 2.00

In [27]:
# ANALIZANDO QUE VARIABLES PUEDEN SER ELIMINADAS
# SemestreIngreso - > Contiene una sola categoria.

# Observación: Se recomienda eliminar los 3 variables, porque para este caso especifico, representa una cosntante:
# SemestreIngreso = 2017
# PlanEstudio = 2016

In [28]:
# Tipo de datos de las 20 primeras columnas
columnas_primeras = dfuni2017.columns[:20]
tipos_datos = dfuni2017[columnas_primeras].dtypes
tipos_datos

Cod_Estudiante              category
TipoCole                    category
ModalidadIngreso            category
Escuela                     category
Facultad                    category
PlanEstudio                 category
UltimoPromSemestre             int64
RepeticionAsigAcumuladas       int64
ReingresoOtraEscuela           int64
Sexo                        category
EstCivil                    category
SemestreIngreso             category
class                          int32
Filial                      category
Cod_Asignatura                object
CursaCV                     category
NumSemCV                       int64
NumSemReg                      int64
PromEgresoSalida               int64
Cod_AsignaturaCIAI1008         int64
dtype: object

In [29]:
# Eliminamos campos
dfuni2017.drop(['Cod_Asignatura','PlanEstudio',"SemestreIngreso"],axis=1,inplace=True)

In [30]:
dfuni2017

,Cod_Estudiante,TipoCole,ModalidadIngreso,Escuela,Facultad,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,Sexo,EstCivil,...,Cod_AsignaturaIS-826,Cod_AsignaturaIS-827,Cod_AsignaturaIS-921,Cod_AsignaturaIS-922,Cod_AsignaturaIS-923,Cod_AsignaturaIS-924,Cod_AsignaturaIS-925,Cod_AsignaturaIS-926,Cod_AsignaturaIS-927,Cod_AsignaturaIS-928
0,2017652773,Publico,OrdinarioGeneral,IAgroindustrial,Ingenieria,7,3,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,0
1,2017853766,Publico,OrdinarioGeneral,IMinas,Ingenieria,6,5,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,0
2,2017754770,Publico,OrdinarioGeneral,IInformatica,Ingenieria,2,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,0
3,2017754768,Publico,OrdinarioGeneral,IInformatica,Ingenieria,5,0,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,0
4,2017652782,Publico,1erosPuestosColegios,IAgroindustrial,Ingenieria,10,2,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,2017853756,Publico,OrdinarioGeneral,IMinas,Ingenieria,1,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,0
153,2017651768,Publico,OrdinarioGeneral,GPDS,Letras,17,0,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,0
154,2017653778,Publico,OrdinarioGeneral,IMinas,Ingenieria,2,6,1,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,0
155,2017755780,Privado,OrdinarioGeneral,IAmbiental,Ingenieria,5,4,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,0
156,2017653796,Publico,CEPRE,IMinas,Ingenieria,6,19,1,Male,Soltero,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# PAra conocer las categorías
for cat in ['TipoCole', 'ModalidadIngreso', 'Facultad', 'Escuela', 'Sexo', 'EstCivil',  'Filial',  'CursaCV']:
    print("Niveles de categoria '{0}': {1}".format(cat, dfuni2017[cat].unique()))

Niveles de categoria 'TipoCole': ['Publico', 'Privado']
Categories (2, object): ['Privado', 'Publico']
Niveles de categoria 'ModalidadIngreso': ['OrdinarioGeneral', '1erosPuestosColegios', 'CEPRE', 'TituladosGraduadosUniversitarios']
Categories (4, object): ['1erosPuestosColegios', 'CEPRE', 'OrdinarioGeneral', 'TituladosGraduadosUniversitarios']
Niveles de categoria 'Facultad': ['Ingenieria', 'Letras']
Categories (2, object): ['Ingenieria', 'Letras']
Niveles de categoria 'Escuela': ['IAgroindustrial', 'IMinas', 'IInformatica', 'IAmbiental', 'GPDS', 'IPesquera']
Categories (6, object): ['GPDS', 'IAgroindustrial', 'IAmbiental', 'IInformatica', 'IMinas', 'IPesquera']
Niveles de categoria 'Sexo': ['Male', 'Fema']
Categories (2, object): ['Fema', 'Male']
Niveles de categoria 'EstCivil': ['Soltero', 'Conviviente']
Categories (2, object): ['Conviviente', 'Soltero']
Niveles de categoria 'Filial': ['M', 'Ich', 'I']
Categories (3, object): ['I', 'Ich', 'M']
Niveles de categoria 'CursaCV': ['T', 'F']
Categories (2, object): ['F', 'T']

In [32]:
# En las siguientes lineas se estaria configurando las categoriasa  numerico pero de forma manual

In [33]:
# Llevar las categprías a formatos numéricos
dfuni2017['TipoCole'] = dfuni2017['TipoCole'].map({'Publico':0,'Privado':1})
dfuni2017['ModalidadIngreso'] = dfuni2017['ModalidadIngreso'].map({'OrdinarioGeneral':0,'1erosPuestosColegios':1,'CEPRE':2, 'Discapacidad':3, 'TituladosGraduadosUniversitarios':4})
dfuni2017['Facultad'] = dfuni2017['Facultad'].map({'Letras':0,'Ingenieria':1})
dfuni2017['Escuela'] = dfuni2017['Escuela'].map({'GPDS':0, 'IAgroindustrial':1, 'IAmbiental':2, 'IInformatica':3, 'IMinas':4, 'IPesquera':5})
dfuni2017['Sexo'] = dfuni2017['Sexo'].map({'Male':0,'Fema':1})
dfuni2017['EstCivil'] = dfuni2017['EstCivil'].map({'Soltero':0, 'Casado':1,'Divorciado':2,'Conviviente':3})
# dfuni2017['SemIngreso'] = dfuni2017['SemIngreso'].map({20171:0,20172:1})
dfuni2017['Filial'] = dfuni2017['Filial'].map({'M':0,'I':1,'Ich':1})
# dfuni2017['ControlCV'] = dfuni2017['ControlCV'].map({20171:0,20172:1,20181:2,20182:3,20191:4,20192:5,20201:6,20202:7,20211:8,20212:9,20180:10,20190:11,20200:12,20210:13,20203:14})
# dfuni2017['CicloAsig'] = dfuni2017['CicloAsig'].map({'I':0,'II':1,'III':2,'IV':3,'V':4,'VI':5,'VII':6,'VIII':7,'IX':8,'X':9})
dfuni2017['CursaCV'] = dfuni2017['CursaCV'].map({'F':0,'T':1})
# Falta codificar las asignaturas asignadas.

In [34]:
# Volver a verificar las categorías
for cat in ['TipoCole', 'ModalidadIngreso', 'Facultad', 'Escuela','Sexo', 'EstCivil',  'Filial',  'CursaCV']:
    print("Niveles de categoria '{0}': {1}".format(cat, dfuni2017[cat].unique()))

Niveles de categoria 'TipoCole': [0, 1]
Categories (2, int64): [1, 0]
Niveles de categoria 'ModalidadIngreso': [0, 1, 2, 4]
Categories (4, int64): [1, 2, 0, 4]
Niveles de categoria 'Facultad': [1, 0]
Categories (2, int64): [1, 0]
Niveles de categoria 'Escuela': [1, 4, 3, 2, 0, 5]
Categories (6, int64): [0, 1, 2, 3, 4, 5]
Niveles de categoria 'Sexo': [0, 1]
Categories (2, int64): [1, 0]
Niveles de categoria 'EstCivil': [0, 3]
Categories (2, int64): [3, 0]
Niveles de categoria 'Filial': [0 1]
Niveles de categoria 'CursaCV': [1, 0]
Categories (2, int64): [0, 1]

In [35]:
# Transformar los códigos de las asignaturas a un valor numérico # Esta fue la 1era opción, pero luego se aplico Scikit-learn.
# Codificar las asignaturas en una nueva columna llamada 'CodAsig_Cod'
# dfunam2017['CodAsig_Cod'] = pd.factorize(dfunam2017['CodAsig'])[0]
# dfunam2017

In [36]:
# Visualizamos un registro específico de COdAsig para verificar los cambios.
# consulta=dfunam2017[dfunam2017.CodAsig=="CIAI808"]
# consulta.head(505)

In [37]:
# Eliminar la columna CodAsig
# dfunam2017.drop("CodAsig",axis=1,inplace=True)

In [38]:
# Verificamos tipos de datos
dfuni2017.dtypes

Cod_Estudiante          category
TipoCole                category
ModalidadIngreso        category
Escuela                 category
Facultad                category
                          ...
Cod_AsignaturaIS-924       int64
Cod_AsignaturaIS-925       int64
Cod_AsignaturaIS-926       int64
Cod_AsignaturaIS-927       int64
Cod_AsignaturaIS-928       int64
Length: 349, dtype: object

In [39]:
# Renombrar CodAsig_Cod como CodAsig
# dfuni2017.rename(columns={'CodAsig_Cod':'CodAsig'},
#               inplace=True)

In [40]:
# Cambiar tipo de dato
dfuni2017['TipoCole']=dfuni2017['TipoCole'].astype("int")
dfuni2017['ModalidadIngreso']=dfuni2017['ModalidadIngreso'].astype("int")
dfuni2017['Facultad']=dfuni2017['Facultad'].astype("int")
dfuni2017['Escuela']=dfuni2017['Escuela'].astype("int")
dfuni2017['Sexo']=dfuni2017['Sexo'].astype("int")
dfuni2017['EstCivil']=dfuni2017['EstCivil'].astype("int")
dfuni2017['Filial']=dfuni2017['Filial'].astype("int")
# dfuni2017['SemIngreso']=dfuni2017['SemIngreso'].astype("int")
# dfuni2017['ControlCV']=dfuni2017['ControlCV'].astype("int")
# dfuni2017['CicloAsig']=dfuni2017['CicloAsig'].astype("int")
# dfuni2017['CodAsig']=dfuni2017['CodAsig'].astype("int")

dfuni2017['CursaCV']=dfuni2017['CursaCV'].astype("int")
dfuni2017.dtypes

Cod_Estudiante          category
TipoCole                   int32
ModalidadIngreso           int32
Escuela                    int32
Facultad                   int32
                          ...
Cod_AsignaturaIS-924       int64
Cod_AsignaturaIS-925       int64
Cod_AsignaturaIS-926       int64
Cod_AsignaturaIS-927       int64
Cod_AsignaturaIS-928       int64
Length: 349, dtype: object

In [41]:
# Tipo de datos de las 20 primeras columnas
columnas_primeras = dfuni2017.columns[:20]
tipos_datos = dfuni2017[columnas_primeras].dtypes
tipos_datos

Cod_Estudiante              category
TipoCole                       int32
ModalidadIngreso               int32
Escuela                        int32
Facultad                       int32
UltimoPromSemestre             int64
RepeticionAsigAcumuladas       int64
ReingresoOtraEscuela           int64
Sexo                           int32
EstCivil                       int32
class                          int32
Filial                         int32
CursaCV                        int32
NumSemCV                       int64
NumSemReg                      int64
PromEgresoSalida               int64
Cod_AsignaturaCIAI1008         int64
Cod_AsignaturaCIAI807          int64
Cod_AsignaturaCIAI808          int64
Cod_AsignaturaCIAI908          int64
dtype: object

In [42]:
# Verificando valores nulos
dfuni2017.isnull().sum()

Cod_Estudiante          0
TipoCole                0
ModalidadIngreso        0
Escuela                 0
Facultad                0
                       ..
Cod_AsignaturaIS-924    0
Cod_AsignaturaIS-925    0
Cod_AsignaturaIS-926    0
Cod_AsignaturaIS-927    0
Cod_AsignaturaIS-928    0
Length: 349, dtype: int64

In [43]:
# NULOS de las primeras columnas
columnas_primeras = dfuni2017.columns[:20]
nulos_primeras_columnas = dfuni2017[columnas_primeras].isnull().sum()
nulos_primeras_columnas

Cod_Estudiante              0
TipoCole                    0
ModalidadIngreso            0
Escuela                     0
Facultad                    0
UltimoPromSemestre          0
RepeticionAsigAcumuladas    0
ReingresoOtraEscuela        0
Sexo                        0
EstCivil                    0
class                       0
Filial                      0
CursaCV                     0
NumSemCV                    0
NumSemReg                   0
PromEgresoSalida            0
Cod_AsignaturaCIAI1008      0
Cod_AsignaturaCIAI807       0
Cod_AsignaturaCIAI808       0
Cod_AsignaturaCIAI908       0
dtype: int64

In [44]:
# Verificar si hay algun nulo en todo el dataframe
hay_nulos = dfuni2017[columnas_primeras].isnull().any().any()
hay_nulos

False

In [45]:
# Se recomienda que las variables que presnetan varios niveles sean eliminados del análisis en aras de la simplicidad.
# sin embargo, por ser la ESCUELA un elemento improtante  para la deserción, vamos a
# intentar procesarlo.

In [46]:
# Para _____________, codificamos los niveles como dígitos utilizando el MultiLabelBinarizer de Scikit-learn y los tratamos como 
# nuevas características.

from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
EscuelaTrans = mlb.fit_transform([{str(val)} for val in dfuni2017['Escuela'].values])

In [47]:
EscuelaTrans

array([[0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 0]])

In [48]:

# Se elimine las características que no serán utilizadas del conjunto de datos.
dfuni2017_new = dfuni2017.drop(['Escuela', 'Cod_Estudiante'], axis=1)

In [49]:
dfuni2017_new

,TipoCole,ModalidadIngreso,Facultad,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,Sexo,EstCivil,class,Filial,...,Cod_AsignaturaIS-826,Cod_AsignaturaIS-827,Cod_AsignaturaIS-921,Cod_AsignaturaIS-922,Cod_AsignaturaIS-923,Cod_AsignaturaIS-924,Cod_AsignaturaIS-925,Cod_AsignaturaIS-926,Cod_AsignaturaIS-927,Cod_AsignaturaIS-928
0,0,0,1,7,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,6,5,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,2,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,5,0,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,10,2,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,0,0,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
153,0,0,0,17,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
154,0,0,1,2,6,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
155,1,0,1,5,4,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
156,0,2,1,6,19,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
# Comprobar que la codificación es correcta
assert (len(dfuni2017['Escuela'].unique()) == len(mlb.classes_)), "Not Equal"

In [51]:
# A continuación, añadimos las características codificadas para formar el conjunto de datos final que se utilizará con TPOT.
dfuni2017_new = np.hstack((dfuni2017_new.values,EscuelaTrans))

In [52]:
# Verificar si hay nulos
np.isnan(dfuni2017_new).any()
# hay_nulos = np.isnan(dfuni2017_new).any()
# hay_nulos

False

In [53]:
# Teniendo en cuenta que el conjunto de datos final está en la forma de una matriz numpy, podemos comprobar el número 
# de características en el conjunto de datos final de la siguiente manera.
dfuni2017_new[0].size

353

In [54]:
# Finalmente almacenamos las etiquetas de clase, que necesitamos predecir, en una variable separada.
dfuni2017_class = dfuni2017['class'].values

## Análisis de datos con TPOT

Para comenzar nuestro análisis, tenemos que dividir nuestros datos de entrenamiento en conjuntos de entrenamiento y validación. El conjunto de validación es sólo para darnos una idea del error del conjunto de prueba. La selección y ajuste del modelo está totalmente a cargo de TPOT, por lo que si queremos, podemos omitir la creación de este conjunto de validación.

In [55]:
# En este caso, se dividió el conjunto de índices dfuni2017.index en dos conjuntos: uno para entrenamiento y otro para prueba (validación).
# El parámetro train_size se estableció en 0.75, lo que significa que el 75% de los índices se asignaron al conjunto de entrenamiento, 
# y el parámetro test_size se estableció en 0.25, lo que significa que el 25% de los índices se asignaron al conjunto de prueba (validación).
training_indices, validation_indices = training_indices, testing_indices = train_test_split(dfuni2017.index, stratify = dfuni2017_class, train_size=0.75, test_size=0.25)
training_indices.size, validation_indices.size

(117, 40)

In [56]:
# Observación:
# El resultado (168, 57) indica que el conjunto de entrenamiento tiene 168 índices y el conjunto de prueba (validación) tiene 57 índices. 
# Es importante destacar que estos números pueden variar según la división aleatoria de los datos o los parámetros utilizados en la función train_test_split().

Después de eso, procedemos a llamar a las funciones de ajuste, puntuación y exportación en nuestro conjunto de datos de entrenamiento. Para tener una mejor idea de cómo funcionan estas funciones, consulte la documentación de TPOT aquí.

Un parámetro importante de TPOT es el número de generaciones. Como nuestro objetivo es sólo ilustrar el uso de TPOT, hemos establecido el tiempo máximo de optimización en 5 minutos (max_time_mins=5). En un portátil estándar con 4 GB de RAM, tarda aproximadamente 5 minutos por generación en ejecutarse. Por cada generación añadida, debería tardar 5 minutos más. Así, para el valor por defecto de 100, el tiempo total de ejecución podría ser aproximadamente de unas 8 horas.

In [57]:
tpot = TPOTClassifier(verbosity=2, max_time_mins=15, max_eval_time_mins=0.06, population_size=60)
tpot.fit(dfuni2017_new[training_indices], dfuni2017_class[training_indices])

Optimization Progress:   0%|          | 0/60 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 1.0

Generation 2 - Current best internal CV score: 1.0

Generation 3 - Current best internal CV score: 1.0

Generation 4 - Current best internal CV score: 1.0

90.17 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: ExtraTreesClassifier(input_matrix, bootstrap=False, criterion=entropy, max_features=0.7500000000000001, min_samples_leaf=19, min_samples_split=3, n_estimators=100)

TPOTClassifier(max_eval_time_mins=0.06, max_time_mins=15, population_size=60,
               verbosity=2)

In [58]:
tpot.score(dfuni2017_new[validation_indices], dfuni2017.loc[validation_indices, 'class'].values)

C:\Users\Usuario\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_scorer.py:794: FutureWarning: sklearn.metrics.SCORERS is deprecated and will be removed in v1.3. Please use sklearn.metrics.get_scorer_names to get a list of available scorers and sklearn.metrics.get_metric to get scorer.
  warnings.warn(

1.0

In [59]:
# Exportamos tpot_dfunam2017_pipeline
tpot.export('tpot_dfunam2017_pipeline.py')

Veamos el código generado. Como podemos ver, el clasificador de _____  fue el que mejor funcionó en el conjunto de datos dado de todos los demás modelos que TPOT evalúa actualmente. Si ejecutamos TPOT durante más generaciones, la puntuación debería mejorar aún más.

In [60]:
# VZ 
# Cargar el archivo del modelo
with open('tpot_dfunam2017_pipeline.py', 'r') as file:
    pipeline_code = file.read()

# Visualizar el contenido del archivo
print(pipeline_code)

import numpy as np
import pandas as pd
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import train_test_split

# NOTE: Make sure that the outcome column is labeled 'target' in the data file
tpot_data = pd.read_csv('PATH/TO/DATA/FILE', sep='COLUMN_SEPARATOR', dtype=np.float64)
features = tpot_data.drop('target', axis=1)
training_features, testing_features, training_target, testing_target = \
            train_test_split(features, tpot_data['target'], random_state=None)

# Average CV score on the training set was: 1.0
exported_pipeline = ExtraTreesClassifier(bootstrap=False, criterion="entropy", max_features=0.7500000000000001, min_samples_leaf=19, min_samples_split=3, n_estimators=100)

exported_pipeline.fit(training_features, training_target)
results = exported_pipeline.predict(testing_features)

### Hacer predicciones sobre los datos de envío

In [61]:
# Leer el conjunto de datos de envío
# titanic_sub = pd.read_csv('data/titanic_test.csv')
# titanic_sub.describe()

# dfuni2017 = pd.read_csv('/dfuni2017_test.csv')

# Ruta relativa a la carpeta "DATA"
data_path = 'DATA/dfuni2017_test.csv'

# Leer el archivo CSV
dfuni2017_sub = pd.read_csv(data_path)

# Verificar los datos leídos
dfuni2017_sub

dfuni2017_sub.describe()

,Cod_Estudiante,PlanEstudio,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,SemestreIngreso,NumSemCV,NumSemReg,PromEgresoSalida,Cod_AsignaturaCIAI1008,...,Cod_AsignaturaIS-826,Cod_AsignaturaIS-827,Cod_AsignaturaIS-921,Cod_AsignaturaIS-922,Cod_AsignaturaIS-923,Cod_AsignaturaIS-924,Cod_AsignaturaIS-925,Cod_AsignaturaIS-926,Cod_AsignaturaIS-927,Cod_AsignaturaIS-928
count,6.800000e+01,68.0,68.000000,68.000000,68.000000,68.0,68.000000,68.000000,68.000000,68.000000,...,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000,68.000000
mean,2.017726e+09,2016.0,9.294118,4.691176,0.161765,20171.0,0.455882,6.779412,10.838235,0.485294,...,1.000000,1.205882,1.117647,0.955882,0.735294,0.720588,0.897059,0.970588,0.720588,0.220588
std,7.177645e+04,0.0,5.274718,4.990311,0.370973,0.0,0.871332,3.519013,3.555993,2.809858,...,3.905603,4.195089,4.009427,3.387571,3.471064,3.031406,3.632933,3.935945,3.384978,1.819017
min,2.017652e+09,2016.0,0.000000,0.000000,0.000000,20171.0,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.017653e+09,2016.0,5.750000,0.000000,0.000000,20171.0,0.000000,3.000000,9.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.017755e+09,2016.0,10.000000,3.000000,0.000000,20171.0,0.000000,7.500000,12.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.017757e+09,2016.0,14.000000,8.000000,0.000000,20171.0,1.000000,10.000000,13.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.017854e+09,2016.0,17.000000,21.000000,1.000000,20171.0,4.000000,11.000000,17.000000,17.000000,...,22.000000,18.000000,16.000000,17.000000,18.000000,16.000000,17.000000,19.000000,17.000000,15.000000

El paso más importante aquí es comprobar si hay nuevos niveles en las variables categóricas del conjunto de datos de envío que están ausentes en el conjunto de entrenamiento. Los identificamos y los establecemos en nuestro valor de marcador de posición "-999", es decir, los tratamos como valores perdidos. Esto garantiza la coherencia del entrenamiento, ya que, de lo contrario, el modelo no sabría qué hacer con los nuevos niveles del conjunto de datos enviado.

In [62]:
   
for var in ['Escuela']:
    new = list(set(dfuni2017_sub[var]) - set(dfuni2017[var]))
    dfuni2017_sub.loc[dfuni2017_sub[var].isin(new), var] = -999

A continuación, llevamos a cabo los pasos de munición de datos como se hizo anteriormente para el conjunto de datos de entrenamiento.

In [63]:
# titanic_sub['Sex'] = titanic_sub['Sex'].map({'male':0,'female':1})
# titanic_sub['Embarked'] = titanic_sub['Embarked'].map({'S':0,'C':1,'Q':2})

In [64]:
#  Cambiar tipo de datos
dfuni2017_sub['Cod_Estudiante']=dfuni2017_sub['Cod_Estudiante'].astype("category")
dfuni2017_sub['TipoCole']=dfuni2017_sub['TipoCole'].astype("category")
dfuni2017_sub['ModalidadIngreso']=dfuni2017_sub['ModalidadIngreso'].astype("category")
dfuni2017_sub['Escuela']=dfuni2017_sub['Escuela'].astype("category")
dfuni2017_sub['Facultad']=dfuni2017_sub['Facultad'].astype("category")
dfuni2017_sub['PlanEstudio']=dfuni2017_sub['PlanEstudio'].astype("category")
# dfuni2017_sub['SemestreEnCurso']=dfuni2017_sub['SemestreEnCurso'].astype("category")

dfuni2017_sub['Sexo']=dfuni2017_sub['Sexo'].astype("category")
dfuni2017_sub['EstCivil']=dfuni2017_sub['EstCivil'].astype("category")
dfuni2017_sub['SemestreIngreso']=dfuni2017_sub['SemestreIngreso'].astype("category")
dfuni2017_sub['Filial']=dfuni2017_sub['Filial'].astype("category")
# dfuni2017_sub['ControlCicloAcad']=dfuni2017_sub['ControlCicloAcad'].astype("category")
# dfuni2017_sub['CicloAsig']=dfuni2017_sub['CicloAsig'].astype("category")
# dfuni2017_sub['Cod_Asignatura']=dfuni2017_sub['Cod_Asignatura'].astype("category")
dfuni2017_sub['CursaCV']=dfuni2017_sub['CursaCV'].astype("category")
# dfuni2017_sub['EstadoEstudiante']=dfuni2017_sub['EstadoEstudiante'].astype("int")

In [65]:
# En las siguientes lineas se estaria configurando las categoriasa  numerico pero de forma manual

In [66]:
# Llevar las categprías a formatos numéricos
dfuni2017_sub['TipoCole'] = dfuni2017_sub['TipoCole'].map({'Publico':0,'Privado':1})
dfuni2017_sub['ModalidadIngreso'] = dfuni2017_sub['ModalidadIngreso'].map({'OrdinarioGeneral':0,'1erosPuestosColegios':1,'CEPRE':2, 'Discapacidad':3, 'TituladosGraduadosUniversitarios':4})
dfuni2017_sub['Facultad'] = dfuni2017_sub['Facultad'].map({'Letras':0,'Ingenieria':1})
dfuni2017_sub['Escuela'] = dfuni2017_sub['Escuela'].map({'GPDS':0, 'IAgroindustrial':1, 'IAmbiental':2, 'IInformatica':3, 'IMinas':4, 'IPesquera':5})
dfuni2017_sub['Sexo'] = dfuni2017_sub['Sexo'].map({'Male':0,'Fema':1})
dfuni2017_sub['EstCivil'] = dfuni2017_sub['EstCivil'].map({'Soltero':0, 'Casado':1,'Divorciado':2,'Conviviente':3})
# dfuni2017_sub['SemIngreso'] = dfuni2017_sub['SemIngreso'].map({20171:0,20172:1})
dfuni2017_sub['Filial'] = dfuni2017_sub['Filial'].map({'M':0,'I':1,'Ich':1})
# dfuni2017_sub['ControlCV'] = dfuni2017_sub['ControlCV'].map({20171:0,20172:1,20181:2,20182:3,20191:4,20192:5,20201:6,20202:7,20211:8,20212:9,20180:10,20190:11,20200:12,20210:13,20203:14})
# dfuni2017_sub['CicloAsig'] = dfuni2017_sub['CicloAsig'].map({'I':0,'II':1,'III':2,'IV':3,'V':4,'VI':5,'VII':6,'VIII':7,'IX':8,'X':9})
dfuni2017_sub['CursaCV'] = dfuni2017_sub['CursaCV'].map({'F':0,'T':1})
# Falta codificar las asignaturas asignadas.

In [67]:
for cat in ['TipoCole', 'ModalidadIngreso', 'Facultad', 'Escuela','Sexo', 'EstCivil',  'Filial',  'CursaCV']:
    print("Niveles de categoria '{0}': {1}".format(cat, dfuni2017_sub[cat].unique()))

Niveles de categoria 'TipoCole': [0, 1]
Categories (2, int64): [1, 0]
Niveles de categoria 'ModalidadIngreso': [0, 1, 2, 3]
Categories (4, int64): [1, 2, 3, 0]
Niveles de categoria 'Facultad': [0, 1]
Categories (2, int64): [1, 0]
Niveles de categoria 'Escuela': [nan]
Niveles de categoria 'Sexo': [1, 0]
Categories (2, int64): [1, 0]
Niveles de categoria 'EstCivil': [0, 1, 2]
Categories (3, int64): [1, 2, 0]
Niveles de categoria 'Filial': [0 1]
Niveles de categoria 'CursaCV': [0, 1]
Categories (2, int64): [0, 1]

In [68]:
dfuni2017_sub = dfuni2017_sub.fillna(-999)
pd.isnull(dfuni2017_sub).any()

Cod_Estudiante          False
TipoCole                False
ModalidadIngreso        False
Escuela                 False
Facultad                False
                        ...
Cod_AsignaturaIS-924    False
Cod_AsignaturaIS-925    False
Cod_AsignaturaIS-926    False
Cod_AsignaturaIS-927    False
Cod_AsignaturaIS-928    False
Length: 352, dtype: bool

Al llamar a MultiLabelBinarizer para el conjunto de datos de envío, primero ajustamos de nuevo el conjunto de datos de entrenamiento para aprender los niveles y, a continuación, transformamos los valores del conjunto de datos de envío. Esto garantiza que sólo se transformen los niveles presentes en el conjunto de datos de entrenamiento. Si se siguen encontrando nuevos niveles en el conjunto de datos enviado, se producirá un error y tendremos que volver atrás y comprobar el paso anterior de sustituir los nuevos niveles por el valor del marcador de posición.

In [69]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
SubEscuelaTrans = mlb.fit([{str(val)} for val in dfuni2017['Escuela'].values]).transform([{str(val)} for val in dfuni2017_sub['Escuela'].values])
# Eliminamos campos
dfuni2017_sub.drop(['Cod_Asignatura','PlanEstudio',"SemestreIngreso"],axis=1,inplace=True)

C:\Users\Usuario\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_label.py:895: UserWarning: unknown class(es) ['-999.0'] will be ignored
  warnings.warn(

In [70]:
# Formar el nuevo conjunto de datos de presentación
dfuni2017_sub_new = np.hstack((dfuni2017_sub.values,SubEscuelaTrans))

In [71]:
# np.any(np.isnan(dfuni2017_sub_new))

In [72]:
# Se elimine las características que no serán utilizadas del conjunto de datos.
dfuni2017_new = dfuni2017.drop(['Escuela', 'Cod_Estudiante'], axis=1)

In [73]:
 # Garantizar el mismo número de características tanto en el conjunto de datos final de entrenamiento como en el de envío.
# assert (dfuni2017_new.shape[1] == dfuni2017_sub_new.shape[1]), 'Not Equal'

In [74]:
# Para verificar el tamaño de cada dataframe
print("Número de columnas en dfuni2017_new:", dfuni2017_new.shape[1])
print("Número de columnas en dfuni2017_sub_new:", dfuni2017_sub_new.shape[1])

Número de columnas en dfuni2017_new: 347
Número de columnas en dfuni2017_sub_new: 355

In [75]:
# Observación, debemos examinar cada dataframe para corregir la desigualdad.