In [1]:
# Se analiza la totalidad de estudiantes matriculados desde el periodo 20161 hasta el 20211
# En este grupo se integrada sólo 6 carreras profesionales, se excluye Administración e ICivil.
# Se maneja una población de 2259 registros únicos con 295 columnas pivoteadas en función a CodAsig.
# dfuniGlobal_train = 1581 Registros (70%)
# dfuniGlobal_test =   696 Registros (30%)

In [2]:
# Instalando tpot
!pip install tpot

Requirement already satisfied: tpot in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (0.11.7)
Requirement already satisfied: scikit-learn>=0.22.0 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.2.2)
Requirement already satisfied: scipy>=1.3.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.10.1)
Requirement already satisfied: stopit>=1.1.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.1.2)
Requirement already satisfied: update-checker>=0.16 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (0.18.0)
Requirement already satisfied: numpy>=1.16.3 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.23.5)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (4.65.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.2.0)
Requirement already satisfied: deap>=1.2 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.3.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.5.3)
Requirement already satisfied: xgboost>=1.1.0 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tpot) (1.7.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.24.2->tpot) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn>=0.22.0->tpot) (3.1.0)
Requirement already satisfied: colorama in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from tqdm>=4.36.1->tpot) (0.4.5)
Requirement already satisfied: requests>=2.3.0 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from update-checker>=0.16->tpot) (2.28.1)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->tpot) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.4)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [87]:
# Importar librerias
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [88]:
# Cargando datos, corresponde al periodo comprendido entre 2016-1 hasta el 2021-2 (población universal de estudiantes).

# Ruta relativa a la carpeta "DATA"
data_path = 'DATA/dfuniGlobal_train.csv'

# Leer el archivo CSV
dfuniGlobal = pd.read_csv(data_path)

# Verificar los datos leídos
dfuniGlobal

,Cod_Estudiante,TipoCole,ModalidadIngreso,Escuela,Facultad,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,Sexo,EstCivil,...,Cod_AsignaturaISSDS07,Cod_AsignaturaISSDT10,Cod_AsignaturaISSEX07,Cod_AsignaturaISSIM09,Cod_AsignaturaISSOP06,Cod_AsignaturaISSSI09,Cod_AsignaturaISSTD08,Cod_AsignaturaISTGS05,Cod_AsignaturaISTYT10,AnioAcademico
0,2016653801,Publico,OrdinarioGeneral,IMinas,Ingenieria,7,0,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1,2021653788,Publico,OrdinarioGeneral,IMinas,Ingenieria,0,2,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
2,2021853767,Publico,OrdinarioGeneral,IMinas,Ingenieria,5,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
3,2017653824,Publico,OrdinarioGeneral,IMinas,Ingenieria,0,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
4,2017651787,Publico,1erosPuestosColegios,GPDS,Letras,13,1,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1576,2020651797,Ausente_TipoCole,CEPRE,GPDS,Letras,14,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1577,2018755807,Ausente_TipoCole,OrdinarioGeneral,IAmbiental,Ingenieria,0,1,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1578,2018651808,Ausente_TipoCole,OrdinarioGeneral,GPDS,Letras,13,0,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1579,2019754784,Publico,OrdinarioGeneral,IInformatica,Ingenieria,11,0,1,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1580,2018754756,Publico,OrdinarioGeneral,IInformatica,Ingenieria,0,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero

In [89]:
# Observación. Se esta considerando dfuniGlobal_train = 1581 Registros

In [90]:
dfuniGlobal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1581 entries, 0 to 1580
Columns: 696 entries, Cod_Estudiante to AnioAcademico
dtypes: int64(685), object(11)
memory usage: 8.4+ MB

In [91]:
#  Cambiar tipo de datos
dfuniGlobal['Cod_Estudiante']=dfuniGlobal['Cod_Estudiante'].astype("category")
dfuniGlobal['TipoCole']=dfuniGlobal['TipoCole'].astype("category")
dfuniGlobal['ModalidadIngreso']=dfuniGlobal['ModalidadIngreso'].astype("category")
dfuniGlobal['Escuela']=dfuniGlobal['Escuela'].astype("category")
dfuniGlobal['Facultad']=dfuniGlobal['Facultad'].astype("category")
#dfuniGlobal['PlanEstudio']=dfuniGlobal['PlanEstudio'].astype("category")
# dfuniGlobal['SemestreEnCurso']=dfuniGlobal['SemestreEnCurso'].astype("category")

dfuniGlobal['Sexo']=dfuniGlobal['Sexo'].astype("category")
dfuniGlobal['EstCivil']=dfuniGlobal['EstCivil'].astype("category")
dfuniGlobal['SemestreIngreso']=dfuniGlobal['SemestreIngreso'].astype("category") # Ojo puede requerir operar como numerico.
dfuniGlobal['Filial']=dfuniGlobal['Filial'].astype("category")
# dfuniGlobal['ControlCicloAcad']=dfuniGlobal['ControlCicloAcad'].astype("category")
# dfuniGlobal['CicloAsig']=dfuniGlobal['CicloAsig'].astype("category")
# dfuniGlobal['Cod_Asignatura']=dfuniGlobal['Cod_Asignatura'].astype("category")
dfuniGlobal['CursaCV']=dfuniGlobal['CursaCV'].astype("category")
dfuniGlobal['AnioAcademico']=dfuniGlobal['AnioAcademico'].astype("category")
# dfuniGlobal['EstadoEstudiante']=dfuniGlobal['EstadoEstudiante'].astype("int")

In [92]:
# Reemplazar los valores en la columna del Estado del estudiante, variable = EstadoEst
dfuniGlobal['EstadoEstudiante'] = dfuniGlobal['EstadoEstudiante'].replace({"No_Deserto": 0, "Deserto": 1})

In [93]:
# Cambiar tipo de dato
dfuniGlobal['EstadoEstudiante']=dfuniGlobal['EstadoEstudiante'].astype("int")

In [94]:
dfuniGlobal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1581 entries, 0 to 1580
Columns: 696 entries, Cod_Estudiante to AnioAcademico
dtypes: category(11), int32(1), int64(683), object(1)
memory usage: 8.4+ MB

In [95]:
dfuniGlobal.head(5)

,Cod_Estudiante,TipoCole,ModalidadIngreso,Escuela,Facultad,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,Sexo,EstCivil,...,Cod_AsignaturaISSDS07,Cod_AsignaturaISSDT10,Cod_AsignaturaISSEX07,Cod_AsignaturaISSIM09,Cod_AsignaturaISSOP06,Cod_AsignaturaISSSI09,Cod_AsignaturaISSTD08,Cod_AsignaturaISTGS05,Cod_AsignaturaISTYT10,AnioAcademico
0,2016653801,Publico,OrdinarioGeneral,IMinas,Ingenieria,7,0,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1,2021653788,Publico,OrdinarioGeneral,IMinas,Ingenieria,0,2,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
2,2021853767,Publico,OrdinarioGeneral,IMinas,Ingenieria,5,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
3,2017653824,Publico,OrdinarioGeneral,IMinas,Ingenieria,0,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
4,2017651787,Publico,1erosPuestosColegios,GPDS,Letras,13,1,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero

In [96]:
# OBS: HAsta aqui hemos conseguido cambiar el tipo de datos, ahora debemos aplicr topot en la sección XXX.

### Data Exploration

In [97]:
# Vamos a verificar cuántos estudiantes Desertan o No_desertan. Periodo 20171 - 20212
dfuniGlobal.groupby(['EstadoEstudiante']).size()

EstadoEstudiante
0    1165
1     416
dtype: int64

In [98]:
len(dfuniGlobal)

1581

In [99]:
# Agrupando en función a la Escuela Profesional
dfuniGlobal.groupby(['Escuela']).size()

Escuela
GPDS               342
IAgroindustrial    231
IAmbiental         311
IInformatica       235
IMinas             360
IPesquera          102
dtype: int64

In [100]:
# Agrupando en función a la Escuela Profesional y el EstadoEstudiante
dfuniGlobal.groupby("Escuela").EstadoEstudiante.value_counts()

Escuela          EstadoEstudiante
GPDS             0                   286
                 1                    56
IAgroindustrial  0                   149
                 1                    82
IAmbiental       0                   247
                 1                    64
IInformatica     0                   150
                 1                    85
IMinas           0                   260
                 1                   100
IPesquera        0                    73
                 1                    29
Name: EstadoEstudiante, dtype: int64

In [101]:
# OBS -> Verificar con el sistema de la U si existen desertores (código 2017-1 y 2017-2) en Agroindustria, Ambiental y Minas

In [102]:
# Agrupando en función al sexo del estudiante
dfuniGlobal.groupby("Sexo").EstadoEstudiante.value_counts()

Sexo          EstadoEstudiante
Ausente_Sexo  0                     9
Fema          0                   564
              1                   121
Male          0                   592
              1                   295
Name: EstadoEstudiante, dtype: int64

In [103]:
# Agrupamos en funcion a dos variables
dfuniGlobal.groupby(['Escuela','Sexo']).EstadoEstudiante.value_counts()

Escuela          Sexo          EstadoEstudiante
GPDS             Ausente_Sexo  0                     3
                 Fema          0                   181
                               1                    21
                 Male          0                   102
                               1                    35
IAgroindustrial  Ausente_Sexo  0                     1
                 Fema          0                    72
                               1                    27
                 Male          0                    76
                               1                    55
IAmbiental       Ausente_Sexo  0                     2
                 Fema          0                   149
                               1                    25
                 Male          0                    96
                               1                    39
IInformatica     Ausente_Sexo  0                     2
                 Fema          0                    41
                               1                    16
                 Male          0                   107
                               1                    69
IMinas           Ausente_Sexo  0                     1
                 Fema          0                    81
                               1                    16
                 Male          0                   178
                               1                    84
IPesquera        Fema          0                    40
                               1                    16
                 Male          0                    33
                               1                    13
Name: EstadoEstudiante, dtype: int64

## Aplicar Tipot

### Data Munging (Recogida de datos)

El primer y más importante paso en el uso de TPOT en cualquier conjunto de datos es cambiar el nombre de la 
clase de destino (variable de respuesta a la clase).

In [105]:
dfuniGlobal.rename(columns={'EstadoEstudiante': 'class'}, inplace=True)

In [106]:
# Actualmente, TPOT requiere que todos los datos estén en formato numérico. Como podemos ver a continuación, 
# nuestro conjunto de datos tiene XXX  variables categóricas que contienen valores no numéricos: CodEst, Cole, ModaIngreso,
# Facu, PlanEst, SemEnCurso, SemPerma, Sexo, EstCivil, SemIngreso, Filial, ControlCV, CicloAsig, CodAsig y CursaCV

In [107]:
dfuniGlobal.dtypes

Cod_Estudiante           category
TipoCole                 category
ModalidadIngreso         category
Escuela                  category
Facultad                 category
                           ...
Cod_AsignaturaISSSI09       int64
Cod_AsignaturaISSTD08       int64
Cod_AsignaturaISTGS05       int64
Cod_AsignaturaISTYT10       int64
AnioAcademico            category
Length: 696, dtype: object

In [108]:
# A continuación, comprobamos el número de niveles que tiene cada una de las 9 variables categóricas.

In [110]:
for cat in ['TipoCole', 'ModalidadIngreso', 'Facultad','Escuela','Sexo', 'EstCivil', 'SemestreIngreso', 'Filial','CursaCV','AnioAcademico']:
    print("Número de niveles de la categoría '{0}': \b {1:2.2f} ".format(cat, dfuniGlobal[cat].unique().size))

Número de niveles de la categoría 'TipoCole': 3.00
Número de niveles de la categoría 'ModalidadIngreso': 12.00
Número de niveles de la categoría 'Facultad': 2.00
Número de niveles de la categoría 'Escuela': 6.00
Número de niveles de la categoría 'Sexo': 3.00
Número de niveles de la categoría 'EstCivil': 6.00
Número de niveles de la categoría 'SemestreIngreso': 11.00
Número de niveles de la categoría 'Filial': 3.00
Número de niveles de la categoría 'CursaCV': 2.00
Número de niveles de la categoría 'AnioAcademico': 1.00

In [111]:
# ANALIZANDO QUE VARIABLES PUEDEN SER ELIMINADAS
# SemestreIngreso - > Es importante para filtrar el año y semestre de ingreso del estudiante.

In [112]:
# Tipo de datos de las 20 primeras columnas
columnas_primeras = dfuniGlobal.columns[:20]
tipos_datos = dfuniGlobal[columnas_primeras].dtypes
tipos_datos

Cod_Estudiante              category
TipoCole                    category
ModalidadIngreso            category
Escuela                     category
Facultad                    category
UltimoPromSemestre             int64
RepeticionAsigAcumuladas       int64
ReingresoOtraEscuela           int64
Sexo                        category
EstCivil                    category
SemestreIngreso             category
class                          int32
Filial                      category
Cod_Asignatura                object
CursaCV                     category
NumSemCV                       int64
NumSemReg                      int64
PromEgresoSalida               int64
Cod_AsignaturaCIAI1008         int64
Cod_AsignaturaCIAI807          int64
dtype: object

In [113]:
# Observación. Se verifica Object en el campo Cod_Asignatura, ademas este campo ya esta redundando en el pivot de la asignatura.
# Eliminamos el campo Cod_Asignatura 
dfuniGlobal.drop(['Cod_Asignatura'],axis=1,inplace=True)

In [76]:
dfuniGlobal

,Cod_Estudiante,TipoCole,ModalidadIngreso,Escuela,Facultad,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,Sexo,EstCivil,...,Cod_AsignaturaISSDS07,Cod_AsignaturaISSDT10,Cod_AsignaturaISSEX07,Cod_AsignaturaISSIM09,Cod_AsignaturaISSOP06,Cod_AsignaturaISSSI09,Cod_AsignaturaISSTD08,Cod_AsignaturaISTGS05,Cod_AsignaturaISTYT10,AnioAcademico
0,2016653801,Publico,OrdinarioGeneral,IMinas,Ingenieria,7,0,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1,2021653788,Publico,OrdinarioGeneral,IMinas,Ingenieria,0,2,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
2,2021853767,Publico,OrdinarioGeneral,IMinas,Ingenieria,5,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
3,2017653824,Publico,OrdinarioGeneral,IMinas,Ingenieria,0,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
4,2017651787,Publico,1erosPuestosColegios,GPDS,Letras,13,1,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1576,2020651797,Ausente_TipoCole,CEPRE,GPDS,Letras,14,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1577,2018755807,Ausente_TipoCole,OrdinarioGeneral,IAmbiental,Ingenieria,0,1,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1578,2018651808,Ausente_TipoCole,OrdinarioGeneral,GPDS,Letras,13,0,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1579,2019754784,Publico,OrdinarioGeneral,IInformatica,Ingenieria,11,0,1,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1580,2018754756,Publico,OrdinarioGeneral,IInformatica,Ingenieria,0,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero

In [114]:
columnas_primeras = dfuniGlobal.columns[:20]
tipos_datos = dfuniGlobal[columnas_primeras].dtypes
tipos_datos

Cod_Estudiante              category
TipoCole                    category
ModalidadIngreso            category
Escuela                     category
Facultad                    category
UltimoPromSemestre             int64
RepeticionAsigAcumuladas       int64
ReingresoOtraEscuela           int64
Sexo                        category
EstCivil                    category
SemestreIngreso             category
class                          int32
Filial                      category
CursaCV                     category
NumSemCV                       int64
NumSemReg                      int64
PromEgresoSalida               int64
Cod_AsignaturaCIAI1008         int64
Cod_AsignaturaCIAI807          int64
Cod_AsignaturaCIAI808          int64
dtype: object

In [115]:
# Visualizar ultimas columnas
ultimas_columnas = dfuniGlobal.dtypes.tail(5)
ultimas_columnas

Cod_AsignaturaISSSI09       int64
Cod_AsignaturaISSTD08       int64
Cod_AsignaturaISTGS05       int64
Cod_AsignaturaISTYT10       int64
AnioAcademico            category
dtype: object

In [116]:
# PAra conocer las categorías
for cat in ['TipoCole', 'ModalidadIngreso', 'Escuela','Facultad','Sexo','EstCivil','SemestreIngreso','Filial','CursaCV','AnioAcademico']:
    print("Niveles de categoria '{0}': {1}".format(cat, dfuniGlobal[cat].unique()))

Niveles de categoria 'TipoCole': ['Publico', 'Ausente_TipoCole', 'Privado']
Categories (3, object): ['Ausente_TipoCole', 'Privado', 'Publico']
Niveles de categoria 'ModalidadIngreso': ['OrdinarioGeneral', '1erosPuestosColegios', 'CEPRE', 'EgresoCOAR', 'MovilidadNacional', ..., 'MovilidadExtranjero', 'Discapacidad', 'Deportistas', 'VictimasTerrorismo', 'PlanIntegralDeRepacaciones']
Length: 12
Categories (12, object): ['1erosPuestosColegios', 'CEPRE', 'Deportistas', 'Discapacidad', ..., 'PlanIntegralDeRepacaciones', 'TituladosGraduadosUniversitarios', 'TrasladoExterno', 'VictimasTerrorismo']
Niveles de categoria 'Escuela': ['IMinas', 'GPDS', 'IAmbiental', 'IPesquera', 'IInformatica', 'IAgroindustrial']
Categories (6, object): ['GPDS', 'IAgroindustrial', 'IAmbiental', 'IInformatica', 'IMinas', 'IPesquera']
Niveles de categoria 'Facultad': ['Ingenieria', 'Letras']
Categories (2, object): ['Ingenieria', 'Letras']
Niveles de categoria 'Sexo': ['Fema', 'Male', 'Ausente_Sexo']
Categories (3, object): ['Ausente_Sexo', 'Fema', 'Male']
Niveles de categoria 'EstCivil': ['Soltero', 'Ausente_EstadoCivil', 'Viudo', 'Casado', 'Conviviente', 'Divorciado']
Categories (6, object): ['Ausente_EstadoCivil', 'Casado', 'Conviviente', 'Divorciado', 'Soltero', 'Viudo']
Niveles de categoria 'SemestreIngreso': [20162, 20211, 20172, 20171, 20201, ..., 20191, 20202, 20182, 20161, 20192]
Length: 11
Categories (11, int64): [20161, 20162, 20171, 20172, ..., 20192, 20201, 20202, 20211]
Niveles de categoria 'Filial': ['M', 'I', 'Ich']
Categories (3, object): ['I', 'Ich', 'M']
Niveles de categoria 'CursaCV': ['F', 'T']
Categories (2, object): ['F', 'T']
Niveles de categoria 'AnioAcademico': ['Primero']
Categories (1, object): ['Primero']

In [117]:
# En las siguientes lineas se estaria configurando las categoriasa  numerico pero de forma manual

In [118]:
# Verificando la cantidad de valores únicos (tipología) por columna.
print(dfuniGlobal.ModalidadIngreso.value_counts())

OrdinarioGeneral                    1111
CEPRE                                336
1erosPuestosColegios                  79
TituladosGraduadosUniversitarios      13
EgresoCOAR                            11
MovilidadNacional                      9
TrasladoExterno                        8
MovilidadExtranjero                    6
Deportistas                            5
Discapacidad                           1
PlanIntegralDeRepacaciones             1
VictimasTerrorismo                     1
Name: ModalidadIngreso, dtype: int64

In [119]:
# Llevar las categprías a formatos numéricos
dfuniGlobal['TipoCole'] = dfuniGlobal['TipoCole'].map({'Publico':0,'Privado':1,'Ausente_TipoCole':-1})
dfuniGlobal['ModalidadIngreso'] = dfuniGlobal['ModalidadIngreso'].map({'OrdinarioGeneral':0,'CEPRE':1,'1erosPuestosColegios':2, 'TrasladoExternoExcepcional':3, 'EgresoCOAR':4, 'TituladosGraduadosUniversitarios':5, 'Deportistas':6, 'TrasladoExterno':7, 'MovilidadNacional':8, 'Discapacidad':9, 'MovilidadExtranjero':10, 'PlanIntegralDeRepacaciones':11,
'VictimasTerrorismo':12})
dfuniGlobal['Facultad'] = dfuniGlobal['Facultad'].map({'Letras':0,'Ingenieria':1})
dfuniGlobal['Escuela'] = dfuniGlobal['Escuela'].map({'GPDS':0, 'IAgroindustrial':1, 'IAmbiental':2, 'IInformatica':3, 'IMinas':4, 'IPesquera':5})
dfuniGlobal['Sexo'] = dfuniGlobal['Sexo'].map({'Male':0,'Fema':1, 'Ausente_Sexo':-1})
dfuniGlobal['EstCivil'] = dfuniGlobal['EstCivil'].map({'Soltero':0, 'Casado':1, 'Viudo':2, 'Divorciado':3, 'Conviviente':4, 'Ausente_EstadoCivil':-1})
# dfuniGlobal['SemestreIngreso'] = dfuniGlobal['SemestreIngreso'].map({20161:0,20162:1,20171:2,20172:3,20181:4,20182:5,20191:6,20192:7,20201:8,20202:9,20211:10})
dfuniGlobal['Filial'] = dfuniGlobal['Filial'].map({'M':0,'I':1,'Ich':1})
# dfuniGlobal['ControlCV'] = dfuniGlobal['ControlCV'].map({20171:0,20172:1,20181:2,20182:3,20191:4,20192:5,20201:6,20202:7,20211:8,20212:9,20180:10,20190:11,20200:12,20210:13,20203:14})
# dfuniGlobal['CicloAsig'] = dfuniGlobal['CicloAsig'].map({'I':0,'II':1,'III':2,'IV':3,'V':4,'VI':5,'VII':6,'VIII':7,'IX':8,'X':9})
dfuniGlobal['CursaCV'] = dfuniGlobal['CursaCV'].map({'F':0,'T':1})
dfuniGlobal['AnioAcademico'] = dfuniGlobal['AnioAcademico'].map({'Primero':1})
# Falta codificar las asignaturas asignadas.

In [135]:
# Volver a verificar las categorías
for cat in ['TipoCole', 'ModalidadIngreso', 'Facultad', 'Escuela','Sexo', 'EstCivil', 'SemestreIngreso', 'Filial',  'CursaCV','AnioAcademico']:
    print("Niveles de categoria '{0}': {1}".format(cat, dfuniGlobal[cat].unique()))

Niveles de categoria 'TipoCole': [ 0 -1  1]
Niveles de categoria 'ModalidadIngreso': [ 0  2  1  4  8  5  7 10  9  6 12 11]
Niveles de categoria 'Facultad': [1 0]
Niveles de categoria 'Escuela': [4 0 2 5 3 1]
Niveles de categoria 'Sexo': [ 1  0 -1]
Niveles de categoria 'EstCivil': [ 0 -1  2  1  4  3]
Niveles de categoria 'SemestreIngreso': [20162 20211 20172 20171 20201 20181 20191 20202 20182 20161 20192]
Niveles de categoria 'Filial': [0 1]
Niveles de categoria 'CursaCV': [0 1]
Niveles de categoria 'AnioAcademico': [1]

In [136]:
columnas_primeras = dfuniGlobal.columns[:20]
tipos_datos = dfuniGlobal[columnas_primeras].dtypes
tipos_datos

Cod_Estudiante              category
TipoCole                       int32
ModalidadIngreso               int32
Escuela                        int32
Facultad                       int32
UltimoPromSemestre             int64
RepeticionAsigAcumuladas       int64
ReingresoOtraEscuela           int64
Sexo                           int32
EstCivil                       int32
SemestreIngreso                int32
class                          int32
Filial                         int32
CursaCV                        int32
NumSemCV                       int64
NumSemReg                      int64
PromEgresoSalida               int64
Cod_AsignaturaCIAI1008         int64
Cod_AsignaturaCIAI807          int64
Cod_AsignaturaCIAI808          int64
dtype: object

In [137]:
# Visualizar ultimas columnas
ultimas_columnas = dfuniGlobal.dtypes.tail(5)
ultimas_columnas

Cod_AsignaturaISSSI09    int64
Cod_AsignaturaISSTD08    int64
Cod_AsignaturaISTGS05    int64
Cod_AsignaturaISTYT10    int64
AnioAcademico            int32
dtype: object

In [138]:
# Cambiar tipo de dato
dfuniGlobal['TipoCole']=dfuniGlobal['TipoCole'].astype("int")
dfuniGlobal['ModalidadIngreso']=dfuniGlobal['ModalidadIngreso'].astype("int")
dfuniGlobal['Facultad']=dfuniGlobal['Facultad'].astype("int")
dfuniGlobal['Escuela']=dfuniGlobal['Escuela'].astype("int")
dfuniGlobal['Sexo']=dfuniGlobal['Sexo'].astype("int")
dfuniGlobal['EstCivil']=dfuniGlobal['EstCivil'].astype("int")
dfuniGlobal['Filial']=dfuniGlobal['Filial'].astype("int")
dfuniGlobal['SemestreIngreso']=dfuniGlobal['SemestreIngreso'].astype("int")
# dfuniGlobal['ControlCV']=dfuniGlobal['ControlCV'].astype("int")
# dfuniGlobal['CicloAsig']=dfuniGlobal['CicloAsig'].astype("int")
# dfuniGlobal['CodAsig']=dfuniGlobal['CodAsig'].astype("int")
dfuniGlobal['CursaCV']=dfuniGlobal['CursaCV'].astype("int")
dfuniGlobal['AnioAcademico']=dfuniGlobal['AnioAcademico'].astype("int")
dfuniGlobal.dtypes

Cod_Estudiante           category
TipoCole                    int32
ModalidadIngreso            int32
Escuela                     int32
Facultad                    int32
                           ...
Cod_AsignaturaISSSI09       int64
Cod_AsignaturaISSTD08       int64
Cod_AsignaturaISTGS05       int64
Cod_AsignaturaISTYT10       int64
AnioAcademico               int32
Length: 695, dtype: object

In [139]:
# Tipo de datos de las 20 primeras columnas
columnas_primeras = dfuniGlobal.columns[:20]
tipos_datos = dfuniGlobal[columnas_primeras].dtypes
tipos_datos

Cod_Estudiante              category
TipoCole                       int32
ModalidadIngreso               int32
Escuela                        int32
Facultad                       int32
UltimoPromSemestre             int64
RepeticionAsigAcumuladas       int64
ReingresoOtraEscuela           int64
Sexo                           int32
EstCivil                       int32
SemestreIngreso                int32
class                          int32
Filial                         int32
CursaCV                        int32
NumSemCV                       int64
NumSemReg                      int64
PromEgresoSalida               int64
Cod_AsignaturaCIAI1008         int64
Cod_AsignaturaCIAI807          int64
Cod_AsignaturaCIAI808          int64
dtype: object

In [140]:
# Verificando valores nulos
dfuniGlobal.isnull().sum()

Cod_Estudiante           0
TipoCole                 0
ModalidadIngreso         0
Escuela                  0
Facultad                 0
                        ..
Cod_AsignaturaISSSI09    0
Cod_AsignaturaISSTD08    0
Cod_AsignaturaISTGS05    0
Cod_AsignaturaISTYT10    0
AnioAcademico            0
Length: 695, dtype: int64

In [141]:
# NULOS de las primeras columnas
columnas_primeras = dfuniGlobal.columns[:20]
nulos_primeras_columnas = dfuniGlobal[columnas_primeras].isnull().sum()
nulos_primeras_columnas

Cod_Estudiante              0
TipoCole                    0
ModalidadIngreso            0
Escuela                     0
Facultad                    0
UltimoPromSemestre          0
RepeticionAsigAcumuladas    0
ReingresoOtraEscuela        0
Sexo                        0
EstCivil                    0
SemestreIngreso             0
class                       0
Filial                      0
CursaCV                     0
NumSemCV                    0
NumSemReg                   0
PromEgresoSalida            0
Cod_AsignaturaCIAI1008      0
Cod_AsignaturaCIAI807       0
Cod_AsignaturaCIAI808       0
dtype: int64

In [142]:
# Verificar si hay algun nulo en todo el dataframe
hay_nulos = dfuniGlobal[columnas_primeras].isnull().any().any()
hay_nulos

False

In [143]:
# Se recomienda que las variables que presnetan varios niveles sean eliminados del análisis en aras de la simplicidad.
# sin embargo, por ser la ESCUELA un elemento improtante  para la deserción, vamos a
# intentar procesarlo.

In [144]:
# Para _____________, codificamos los niveles como dígitos utilizando el MultiLabelBinarizer de Scikit-learn y los tratamos como 
# nuevas características.

from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
ModalidadIngresoTrans = mlb.fit_transform([{str(val)} for val in dfuniGlobal['ModalidadIngreso'].values])

In [146]:
ModalidadIngresoTrans

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [147]:

# Se elimine las características que no serán utilizadas del conjunto de datos.
dfuniGlobal_new = dfuniGlobal.drop(['ModalidadIngreso', 'Cod_Estudiante'], axis=1)

In [148]:
dfuniGlobal_new

,TipoCole,Escuela,Facultad,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,Sexo,EstCivil,SemestreIngreso,class,...,Cod_AsignaturaISSDS07,Cod_AsignaturaISSDT10,Cod_AsignaturaISSEX07,Cod_AsignaturaISSIM09,Cod_AsignaturaISSOP06,Cod_AsignaturaISSSI09,Cod_AsignaturaISSTD08,Cod_AsignaturaISTGS05,Cod_AsignaturaISTYT10,AnioAcademico
0,0,4,1,7,0,0,1,0,20162,1,...,0,0,0,0,0,0,0,0,0,1
1,0,4,1,0,2,0,0,0,20211,0,...,0,0,0,0,0,0,0,0,0,1
2,0,4,1,5,0,0,0,0,20211,0,...,0,0,0,0,0,0,0,0,0,1
3,0,4,1,0,0,0,0,0,20172,1,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,13,1,0,1,0,20171,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1576,-1,0,0,14,0,0,0,0,20201,0,...,0,0,0,0,0,0,0,0,0,1
1577,-1,2,1,0,1,0,1,0,20182,0,...,0,0,0,0,0,0,0,0,0,1
1578,-1,0,0,13,0,0,1,0,20182,0,...,0,0,0,0,0,0,0,0,0,1
1579,0,3,1,11,0,1,1,0,20191,1,...,0,0,0,0,0,0,0,0,0,1
1580,0,3,1,0,0,0,0,0,20181,1,...,0,0,0,0,0,0,0,0,0,1

In [149]:
# Comprobar que la codificación es correcta
assert (len(dfuniGlobal['ModalidadIngreso'].unique()) == len(mlb.classes_)), "Not Equal"

In [150]:
# A continuación, añadimos las características codificadas para formar el conjunto de datos final que se utilizará con TPOT.
dfuniGlobal_new = np.hstack((dfuniGlobal_new.values,ModalidadIngresoTrans))

In [151]:
# Verificar si hay nulos
np.isnan(dfuniGlobal_new).any()
# hay_nulos = np.isnan(dfuni2017_new).any()
# hay_nulos

False

In [152]:
# Teniendo en cuenta que el conjunto de datos final está en la forma de una matriz numpy, podemos comprobar el número 
# de características en el conjunto de datos final de la siguiente manera.
dfuniGlobal_new[0].size

705

In [153]:
# Finalmente almacenamos las etiquetas de clase, que necesitamos predecir, en una variable separada.
dfuniGlobal_class = dfuniGlobal['class'].values

In [154]:
# CONTINUAR ANALIZANDO Y RECALCULANDO EL CODIGOOOOOOOO

## Análisis de datos con TPOT

Para comenzar nuestro análisis, tenemos que dividir nuestros datos de entrenamiento en conjuntos de entrenamiento y validación. El conjunto de validación es sólo para darnos una idea del error del conjunto de prueba. La selección y ajuste del modelo está totalmente a cargo de TPOT, por lo que si queremos, podemos omitir la creación de este conjunto de validación.

In [155]:
# En este caso, se dividió el conjunto de índices dfuni2017.index en dos conjuntos: uno para entrenamiento y otro para prueba (validación).
# El parámetro train_size se estableció en 0.75, lo que significa que el 75% de los índices se asignaron al conjunto de entrenamiento, 
# y el parámetro test_size se estableció en 0.25, lo que significa que el 25% de los índices se asignaron al conjunto de prueba (validación).
training_indices, validation_indices = training_indices, testing_indices = train_test_split(dfuniGlobal.index, stratify = dfuniGlobal_class, train_size=0.75, test_size=0.25)
training_indices.size, validation_indices.size

(1185, 396)

In [ ]:
# Observación:
# El resultado (1185, 396) indica que el conjunto de entrenamiento tiene 1185 índices y el conjunto de prueba (validación) tiene 396 índices. 
# Es importante destacar que estos números pueden variar según la división aleatoria de los datos o los parámetros utilizados en la función train_test_split().

Después de eso, procedemos a llamar a las funciones de ajuste, puntuación y exportación en nuestro conjunto de datos de entrenamiento. Para tener una mejor idea de cómo funcionan estas funciones, consulte la documentación de TPOT aquí.

Un parámetro importante de TPOT es el número de generaciones. Como nuestro objetivo es sólo ilustrar el uso de TPOT, hemos establecido el tiempo máximo de optimización en 5 minutos (max_time_mins=5). En un portátil estándar con 4 GB de RAM, tarda aproximadamente 5 minutos por generación en ejecutarse. Por cada generación añadida, debería tardar 5 minutos más. Así, para el valor por defecto de 100, el tiempo total de ejecución podría ser aproximadamente de unas 8 horas.

In [156]:
tpot = TPOTClassifier(verbosity=2, max_time_mins=25, max_eval_time_mins=0.06, population_size=60)
tpot.fit(dfuniGlobal_new[training_indices], dfuniGlobal_class[training_indices])

Version 0.11.7 of tpot is outdated. Version 0.12.0 was released Thursday May 25, 2023.

Optimization Progress:   0%|          | 0/60 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: 1.0

Generation 2 - Current best internal CV score: 1.0

Generation 3 - Current best internal CV score: 1.0

Generation 4 - Current best internal CV score: 1.0

Generation 5 - Current best internal CV score: 1.0

Generation 6 - Current best internal CV score: 1.0

Generation 7 - Current best internal CV score: 1.0

Generation 8 - Current best internal CV score: 1.0

Generation 9 - Current best internal CV score: 1.0

Generation 10 - Current best internal CV score: 1.0

Generation 11 - Current best internal CV score: 1.0

25.01 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: GradientBoostingClassifier(input_matrix, learning_rate=0.5, max_depth=4, max_features=0.4, min_samples_leaf=1, min_samples_split=2, n_estimators=100, subsample=0.55)

TPOTClassifier(max_eval_time_mins=0.06, max_time_mins=25, population_size=60,
               verbosity=2)

In [157]:
tpot.score(dfuniGlobal_new[validation_indices], dfuniGlobal.loc[validation_indices, 'class'].values)

C:\Users\Usuario\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_scorer.py:794: FutureWarning: sklearn.metrics.SCORERS is deprecated and will be removed in v1.3. Please use sklearn.metrics.get_scorer_names to get a list of available scorers and sklearn.metrics.get_metric to get scorer.
  warnings.warn(

1.0

In [158]:
# Exportamos tpot_dfunam2017_pipeline
tpot.export('tpot_dfuniGlobal_pipeline.py')

Veamos el código generado. Como podemos ver, el clasificador de _____  fue el que mejor funcionó en el conjunto de datos dado de todos los demás modelos que TPOT evalúa actualmente. Si ejecutamos TPOT durante más generaciones, la puntuación debería mejorar aún más.

In [159]:
# VZ 
# Cargar el archivo del modelo
with open('tpot_dfuniGlobal_PIPELINE.py', 'r') as file:
    pipeline_code = file.read()

# Visualizar el contenido del archivo
print(pipeline_code)

import numpy as np
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

# NOTE: Make sure that the outcome column is labeled 'target' in the data file
tpot_data = pd.read_csv('PATH/TO/DATA/FILE', sep='COLUMN_SEPARATOR', dtype=np.float64)
features = tpot_data.drop('target', axis=1)
training_features, testing_features, training_target, testing_target = \
            train_test_split(features, tpot_data['target'], random_state=None)

# Average CV score on the training set was: 1.0
exported_pipeline = GradientBoostingClassifier(learning_rate=0.5, max_depth=4, max_features=0.4, min_samples_leaf=1, min_samples_split=2, n_estimators=100, subsample=0.55)

exported_pipeline.fit(training_features, training_target)
results = exported_pipeline.predict(testing_features)

### Hacer predicciones sobre los datos de envío

In [160]:
# Leer el conjunto de datos de envío

# Ruta relativa a la carpeta "DATA"
data_path = 'DATA/dfuniGlobal_test.csv'

# Leer el archivo CSV
dfuniGlobal_sub = pd.read_csv(data_path)

# Verificar los datos leídos
dfuniGlobal_sub

dfuniGlobal_sub.describe()

,Cod_Estudiante,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,SemestreIngreso,NumSemCV,NumSemReg,PromEgresoSalida,Cod_AsignaturaCIAI1008,Cod_AsignaturaCIAI807,...,Cod_AsignaturaISSDI06,Cod_AsignaturaISSDS07,Cod_AsignaturaISSDT10,Cod_AsignaturaISSEX07,Cod_AsignaturaISSIM09,Cod_AsignaturaISSOP06,Cod_AsignaturaISSSI09,Cod_AsignaturaISSTD08,Cod_AsignaturaISTGS05,Cod_AsignaturaISTYT10
count,6.780000e+02,678.000000,678.000000,678.000000,678.000000,678.000000,678.000000,678.000000,678.000000,678.000000,...,678.0,678.0,678.0,678.0,678.0,678.0,678.0,678.0,678.0,678.0
mean,2.019090e+09,7.628319,3.846608,0.109145,20185.286136,0.660767,4.787611,10.910029,0.163717,0.117994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,1.552607e+06,5.911001,4.644217,0.343591,15.448035,1.129683,2.976376,3.749448,1.611823,1.258684,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,2.016652e+09,0.000000,0.000000,0.000000,20161.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,2.017755e+09,1.000000,0.000000,0.000000,20171.000000,0.000000,2.000000,10.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,2.018756e+09,9.000000,2.000000,0.000000,20182.000000,0.000000,4.000000,12.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,2.020652e+09,13.000000,6.000000,0.000000,20201.000000,1.000000,7.000000,13.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,2.021854e+09,17.000000,24.000000,3.000000,20211.000000,6.000000,12.000000,17.000000,18.000000,16.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [163]:
dfuniGlobal_sub

,Cod_Estudiante,TipoCole,ModalidadIngreso,Escuela,Facultad,UltimoPromSemestre,RepeticionAsigAcumuladas,ReingresoOtraEscuela,Sexo,EstCivil,...,Cod_AsignaturaISSDS07,Cod_AsignaturaISSDT10,Cod_AsignaturaISSEX07,Cod_AsignaturaISSIM09,Cod_AsignaturaISSOP06,Cod_AsignaturaISSSI09,Cod_AsignaturaISSTD08,Cod_AsignaturaISTGS05,Cod_AsignaturaISTYT10,AnioAcademico
0,2019756854,Publico,-999,IPesquera,Ingenieria,14,1,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
1,2017652790,Publico,-999,IAgroindustrial,Ingenieria,17,0,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
2,2017756768,Privado,-999,IPesquera,Ingenieria,15,10,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
3,2019755860,Publico,-999,IAmbiental,Ingenieria,0,2,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
4,2016653773,Publico,-999,IMinas,Ingenieria,0,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,2016652787,Publico,-999,IAgroindustrial,Ingenieria,8,2,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
674,2017754783,Publico,-999,IInformatica,Ingenieria,4,3,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
675,2021755763,Privado,-999,IAmbiental,Ingenieria,1,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
676,2019754862,Publico,-999,IInformatica,Ingenieria,11,0,0,Male,Soltero,...,0,0,0,0,0,0,0,0,0,Primero
677,2017651796,Publico,-999,GPDS,Letras,12,0,0,Fema,Soltero,...,0,0,0,0,0,0,0,0,0,Primero

El paso más importante aquí es comprobar si hay nuevos niveles en las variables categóricas del conjunto de datos de envío que están ausentes en el conjunto de entrenamiento. Los identificamos y los establecemos en nuestro valor de marcador de posición "-999", es decir, los tratamos como valores perdidos. Esto garantiza la coherencia del entrenamiento, ya que, de lo contrario, el modelo no sabría qué hacer con los nuevos niveles del conjunto de datos enviado.

In [161]:
   
for var in ['ModalidadIngreso']:
    new = list(set(dfuniGlobal_sub[var]) - set(dfuniGlobal[var]))
    dfuniGlobal_sub.loc[dfuniGlobal_sub[var].isin(new), var] = -999

A continuación, llevamos a cabo los pasos de munición de datos como se hizo anteriormente para el conjunto de datos de entrenamiento.

In [164]:
# Cambiar tipo de dato
dfuniGlobal_sub['Cod_Estudiante']=dfuniGlobal_sub['Cod_Estudiante'].astype("category")
dfuniGlobal_sub['TipoCole']=dfuniGlobal_sub['TipoCole'].astype("category")
dfuniGlobal_sub['ModalidadIngreso']=dfuniGlobal_sub['ModalidadIngreso'].astype("category")
dfuniGlobal_sub['Facultad']=dfuniGlobal_sub['Facultad'].astype("category")
dfuniGlobal_sub['Escuela']=dfuniGlobal_sub['Escuela'].astype("category")
dfuniGlobal_sub['Sexo']=dfuniGlobal_sub['Sexo'].astype("category")
dfuniGlobal_sub['EstCivil']=dfuniGlobal_sub['EstCivil'].astype("category")
dfuniGlobal_sub['Filial']=dfuniGlobal_sub['Filial'].astype("category")
dfuniGlobal_sub['SemestreIngreso']=dfuniGlobal_sub['SemestreIngreso'].astype("category")
# dfuniGlobal_sub['ControlCV']=dfuniGlobal_sub['ControlCV'].astype("category")
# dfuniGlobal_sub['CicloAsig']=dfuniGlobal_sub['CicloAsig'].astype("category")
# dfuniGlobal_sub['CodAsig']=dfuniGlobal_sub['CodAsig'].astype("category")
dfuniGlobal_sub['CursaCV']=dfuniGlobal_sub['CursaCV'].astype("category")
dfuniGlobal_sub['AnioAcademico']=dfuniGlobal_sub['AnioAcademico'].astype("category")
dfuniGlobal_sub.dtypes

Cod_Estudiante           category
TipoCole                 category
ModalidadIngreso         category
Escuela                  category
Facultad                 category
                           ...
Cod_AsignaturaISSSI09       int64
Cod_AsignaturaISSTD08       int64
Cod_AsignaturaISTGS05       int64
Cod_AsignaturaISTYT10       int64
AnioAcademico            category
Length: 696, dtype: object

In [168]:
# Tipo de datos de las 20 primeras columnas
columnas_primeras = dfuniGlobal_sub.columns[:20]
tipos_datos = dfuniGlobal_sub[columnas_primeras].dtypes
tipos_datos

Cod_Estudiante              category
TipoCole                    category
ModalidadIngreso             float64
Escuela                     category
Facultad                    category
UltimoPromSemestre             int64
RepeticionAsigAcumuladas       int64
ReingresoOtraEscuela           int64
Sexo                        category
EstCivil                    category
SemestreIngreso             category
EstadoEstudiante              object
Filial                         int64
Cod_Asignatura                object
CursaCV                     category
NumSemCV                       int64
NumSemReg                      int64
PromEgresoSalida               int64
Cod_AsignaturaCIAI1008         int64
Cod_AsignaturaCIAI807          int64
dtype: object

In [ ]:
# En las siguientes lineas se estaria configurando las categoriasa  numerico pero de forma manual

In [ ]:
# aCTUAIZARRRRRR , BORRAR ESTO Y CONSRVAR EL SIGUIENTE

# Llevar las categprías a formatos numéricos
# dfuni2017_sub['TipoCole'] = dfuni2017_sub['TipoCole'].map({'Publico':0,'Privado':1})
# dfuni2017_sub['ModalidadIngreso'] = dfuni2017_sub['ModalidadIngreso'].map({'OrdinarioGeneral':0,'1erosPuestosColegios':1,'CEPRE':2, 'Discapacidad':3, 'TituladosGraduadosUniversitarios':4})
# dfuni2017_sub['Facultad'] = dfuni2017_sub['Facultad'].map({'Letras':0,'Ingenieria':1})
# dfuni2017_sub['Escuela'] = dfuni2017_sub['Escuela'].map({'GPDS':0, 'IAgroindustrial':1, 'IAmbiental':2, 'IInformatica':3, 'IMinas':4, 'IPesquera':5})
# dfuni2017_sub['Sexo'] = dfuni2017_sub['Sexo'].map({'Male':0,'Fema':1})
# dfuni2017_sub['EstCivil'] = dfuni2017_sub['EstCivil'].map({'Soltero':0, 'Casado':1,'Divorciado':2,'Conviviente':3})

# dfuni2017_sub['Filial'] = dfuni2017_sub['Filial'].map({'M':0,'I':1,'Ich':1})


# dfuni2017_sub['CursaCV'] = dfuni2017_sub['CursaCV'].map({'F':0,'T':1})
# Falta codificar las asignaturas asignadas.

In [165]:
# Llevar las categprías a formatos numéricos
dfuniGlobal_sub['TipoCole'] = dfuniGlobal_sub['TipoCole'].map({'Publico':0,'Privado':1,'Ausente_TipoCole':-1})
dfuniGlobal_sub['ModalidadIngreso'] = dfuniGlobal_sub['ModalidadIngreso'].map({'OrdinarioGeneral':0,'CEPRE':1,'1erosPuestosColegios':2, 'TrasladoExternoExcepcional':3, 'EgresoCOAR':4, 'TituladosGraduadosUniversitarios':5, 'Deportistas':6, 'TrasladoExterno':7, 'MovilidadNacional':8, 'Discapacidad':9, 'MovilidadExtranjero':10, 'PlanIntegralDeRepacaciones':11,
'VictimasTerrorismo':12})
dfuniGlobal_sub['Facultad'] = dfuniGlobal_sub['Facultad'].map({'Letras':0,'Ingenieria':1})
dfuniGlobal_sub['Escuela'] = dfuniGlobal_sub['Escuela'].map({'GPDS':0, 'IAgroindustrial':1, 'IAmbiental':2, 'IInformatica':3, 'IMinas':4, 'IPesquera':5})
dfuniGlobal_sub['Sexo'] = dfuniGlobal_sub['Sexo'].map({'Male':0,'Fema':1, 'Ausente_Sexo':-1})
dfuniGlobal_sub['EstCivil'] = dfuniGlobal_sub['EstCivil'].map({'Soltero':0, 'Casado':1, 'Viudo':2, 'Divorciado':3, 'Conviviente':4, 'Ausente_EstadoCivil':-1})
# dfuniGlobal_sub['SemestreIngreso'] = dfuniGlobal['SemestreIngreso'].map({20161:0,20162:1,20171:2,20172:3,20181:4,20182:5,20191:6,20192:7,20201:8,20202:9,20211:10})
dfuniGlobal_sub['Filial'] = dfuniGlobal_sub['Filial'].map({'M':0,'I':1,'Ich':1})
# dfuniGlobal_sub['ControlCV'] = dfuniGlobal_sub['ControlCV'].map({20171:0,20172:1,20181:2,20182:3,20191:4,20192:5,20201:6,20202:7,20211:8,20212:9,20180:10,20190:11,20200:12,20210:13,20203:14})
# dfuniGlobal_sub['CicloAsig'] = dfuniGlobal_sub['CicloAsig'].map({'I':0,'II':1,'III':2,'IV':3,'V':4,'VI':5,'VII':6,'VIII':7,'IX':8,'X':9})
dfuniGlobal_sub['CursaCV'] = dfuniGlobal_sub['CursaCV'].map({'F':0,'T':1})
dfuniGlobal_sub['AnioAcademico'] = dfuniGlobal_sub['AnioAcademico'].map({'Primero':1})
# Falta codificar las asignaturas asignadas.

In [166]:
# Volver a verificar las categorías
for cat in ['TipoCole', 'ModalidadIngreso', 'Facultad', 'Escuela','Sexo', 'EstCivil', 'SemestreIngreso', 'Filial',  'CursaCV','AnioAcademico']:
    print("Niveles de categoria '{0}': {1}".format(cat, dfuniGlobal_sub[cat].unique()))

Niveles de categoria 'TipoCole': [0, 1, -1]
Categories (3, int64): [-1, 1, 0]
Niveles de categoria 'ModalidadIngreso': [nan]
Niveles de categoria 'Facultad': [1, 0]
Categories (2, int64): [1, 0]
Niveles de categoria 'Escuela': [5, 1, 2, 4, 0, 3]
Categories (6, int64): [0, 1, 2, 3, 4, 5]
Niveles de categoria 'Sexo': [0, 1, -1]
Categories (3, int64): [-1, 1, 0]
Niveles de categoria 'EstCivil': [0, 1, -1, 4]
Categories (4, int64): [-1, 1, 4, 0]
Niveles de categoria 'SemestreIngreso': [20192, 20171, 20161, 20191, 20182, ..., 20202, 20201, 20181, 20211, 20172]
Length: 11
Categories (11, int64): [20161, 20162, 20171, 20172, ..., 20192, 20201, 20202, 20211]
Niveles de categoria 'Filial': [1 0]
Niveles de categoria 'CursaCV': [0, 1]
Categories (2, int64): [0, 1]
Niveles de categoria 'AnioAcademico': [1]
Categories (1, int64): [1]

In [167]:
dfuniGlobal_sub = dfuniGlobal_sub.fillna(-999)
pd.isnull(dfuniGlobal_sub).any()

Cod_Estudiante           False
TipoCole                 False
ModalidadIngreso         False
Escuela                  False
Facultad                 False
                         ...
Cod_AsignaturaISSSI09    False
Cod_AsignaturaISSTD08    False
Cod_AsignaturaISTGS05    False
Cod_AsignaturaISTYT10    False
AnioAcademico            False
Length: 696, dtype: bool

In [169]:
# Tipo de datos de las 20 primeras columnas
columnas_primeras = dfuniGlobal_sub.columns[:20]
tipos_datos = dfuniGlobal_sub[columnas_primeras].dtypes
tipos_datos

Cod_Estudiante              category
TipoCole                    category
ModalidadIngreso             float64
Escuela                     category
Facultad                    category
UltimoPromSemestre             int64
RepeticionAsigAcumuladas       int64
ReingresoOtraEscuela           int64
Sexo                        category
EstCivil                    category
SemestreIngreso             category
EstadoEstudiante              object
Filial                         int64
Cod_Asignatura                object
CursaCV                     category
NumSemCV                       int64
NumSemReg                      int64
PromEgresoSalida               int64
Cod_AsignaturaCIAI1008         int64
Cod_AsignaturaCIAI807          int64
dtype: object

Al llamar a MultiLabelBinarizer para el conjunto de datos de envío, primero ajustamos de nuevo el conjunto de datos de entrenamiento para aprender los niveles y, a continuación, transformamos los valores del conjunto de datos de envío. Esto garantiza que sólo se transformen los niveles presentes en el conjunto de datos de entrenamiento. Si se siguen encontrando nuevos niveles en el conjunto de datos enviado, se producirá un error y tendremos que volver atrás y comprobar el paso anterior de sustituir los nuevos niveles por el valor del marcador de posición.

In [170]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
SubModalidadIngresoTrans = mlb.fit([{str(val)} for val in dfuniGlobal['ModalidadIngreso'].values]).transform([{str(val)} for val in dfuniGlobal_sub['ModalidadIngreso'].values])
# Eliminamos campos
dfuniGlobal_sub.drop(['Cod_Asignatura'],axis=1,inplace=True)

C:\Users\Usuario\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_label.py:895: UserWarning: unknown class(es) ['-999.0'] will be ignored
  warnings.warn(

In [171]:
# Formar el nuevo conjunto de datos de presentación
dfuniGlobal_sub_new = np.hstack((dfuniGlobal_sub.values,SubModalidadIngresoTrans))

In [172]:
np.any(np.isnan(dfuniGlobal_sub_new))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [173]:
# N
# Se elimine las características que no serán utilizadas del conjunto de datos.
dfuniGlobal_new = dfuniGlobal.drop(['Cod_Estudiante'], axis=1)

In [174]:
 # Garantizar el mismo número de características tanto en el conjunto de datos final de entrenamiento como en el de envío.
assert (dfuniGlobal_new.shape[1] == dfuniGlobal_sub_new.shape[1]), 'Not Equal'

AssertionError: Not Equal

In [175]:
# N
# Para verificar el tamaño de cada dataframe
print("Número de columnas en dfuniGlobal_new:", dfuniGlobal_new.shape[1])
print("Número de columnas en dfuniGlobal_sub_new:", dfuniGlobal_sub_new.shape[1])

Número de columnas en dfuniGlobal_new: 694
Número de columnas en dfuniGlobal_sub_new: 707

In [ ]:
# N
# Observación, debemos examinar cada dataframe para corregir la desigualdad.

In [ ]:
# Generate the predictions
submission = tpot.predict(dfuniGlobal_sub_new)

In [ ]:
# Create the submission file
final = pd.DataFrame({'PassengerId': dfuniGlobal_sub['PassengerId'], 'EstadoEstudiante': submission})
final.to_csv('data/submission.csv', index = False)

In [ ]:
final.shape

Ya está. Hemos generado con éxito las predicciones para los 418 puntos de datos en el conjunto de datos de presentación, y estamos listos para seguir adelante para presentar estas predicciones en Kaggle.